  <h3>Edit Transaction</h3>

  <form action="/transactions/<%= @transaction.id %>" method ="post">

    <label>Date</label>
    <input type="date" name="select_date" value="<%= @transaction.select_date %>">

    <label for="merchant">retailer:</label>
    <select name="merchant_id">
      <% @merchants.each do |merchant| %>
      <option <%= 'selected' if merchant.id == @transaction.merchant_id %> value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>

    <label for="tag">category:</label>
    <select name="tag_id">
      <% @tags.each do |tag| %>
      <option <%= 'selected' if tag.id == @transaction.tag_id %> value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>

    <label>amount</label>
    <input type="number" name="amount" value="<%= @transaction.amount %>">

    <label>spend limit</label>
    <input type="number" step="any" name="tag_spend_limit" value="<%= @transaction.tag_spend_limit %>">

    <input type="submit" value="update">
  </form>

  <a href="/tags">back</a>

