<div class="transactions">


<h2>View all transactions</h2>
  <h4><a href="/transactions/new">add transaction</a></h4>
  <table>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.select_date %></td>
        <td><%= transaction.merchant.name %></td>
        <td><%= transaction.tag.name%></td>
        <td><%= transaction.amount%></td> 
        <td><a href="/transactions/<%= transaction.id %>">edit transaction</a></td>
        <td>
          <form action="/transactions/<%= transaction.id %>/delete" method="post"> 
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
 
</table>





</div>
<section class="pic2">
  <img src="images/payment.png">
</section>